.toolbarLinkUI {
    color:green;
    text-decoration: none;
}
.toolbarLinkUI:hover {
    font-weight: bold;
}
.toolbarLinkUI:hover {
    color:green;
    font-weight: bold;
}
.activeClassName {
    border-bottom: 1px solid #000;
    font-weight: bold;

}
.toolbarList {
    display:  flex;
    justify-content: space-around;
    list-style-type: none;

}
.toolbarList >li>a{
    color: green;
}
.toolbarList >li>a:hover{
    font-weight: bold;
    border-bottom: 1px solid black;

}
.toolbarList >li> span
{
color: green
}
.toolbarList--signOut {
    justify-content: flex-end;
    margin-right: 20px;
}
.toolbarList--signOut >li {
    margin-right: 20px;
}
