.wrap-todos{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;


}
.wrap-todos > .todoItem{
    min-width: 140px;
    min-height: 160px;
    border: 1px dashed orangered;
    border-radius: 5px;
    padding:10px;
    margin: 5px;
    flex: 1;
    
}
.todoItem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    
}
.todoItem-text  {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px dashed orangered;
    align-items: center;
    
    
}
.todoItem-footer {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}