@import '~antd/dist/antd.css';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* App style */

.main{
  display: flex;
  height: 100vh;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 20px;
}
.main .content {
  /* flex-grow: 4; */
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border: 1px solid red;
  flex-grow: 1;
}
.main .sideBar {
  min-width: 320px;
  border: 1px solid green;
  margin-left: 20px;
}