@import '~antd/dist/antd.css';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* App style */

.main{
  display: flex;
  height: 100vh;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 20px;
}
.main .content {
  flex-grow: 4
}
.main .sideBar {
  flex-grow: 1
}